html {
    font-family: sans-serif;
    font-size: 20px;
}

.wrapper {
    display: block;
    margin: 0 auto;
    width: 704px;
}

.score {
    padding-top: 20px;    
}

.box-center {
    display: block;
    float: left;
    left: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#canvas-tetris {
    border: 1px solid black;
}

.box-left {
    float: left;
    width: 150px;
}

.box-right {
    display: block;
    float: right;
}

/*#canvas-shape {
    border: 1px solid black;
}*/

.next-shape-header {
    text-align: center;
    padding-top: 20px;
}